.page-container {
  position: relative;
  height: 100%;
}
.text-tips {
  position: absolute;
  display: inline-block;
  top: -7px;
  right: -13px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 100%;
  background-color: #fb564b;
  color: #fff;
  font-size: 13px;
  text-align: center;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  line-height: 0;
}
