.page-container {
  background-color: #f0f0f0;
  overflow-x: hidden;
}
/*.page-header {
  position: fixed;
  top: 0;
  height: 48px;
  left: 0;
  right: 0;
  border: 1px solid #e3e3e3;
  background-color: #f0f1f0;
  z-index: 9000;
}

.page-logo {
  width: 56px;
}*/
.page-human {
  position: absolute;
  right: 20px;
  top: 13px;
  width: 22px;
  height: 22px;
  background-image: url("../images/home_icon_my@2x.png");
  background-size: contain;
  cursor: pointer;
}
.page-article {
  position: relative;
  height: 300px;
  margin-bottom: 14px;
  background-color: #fff;
}
.page-article .imgs-box {
  position: relative;
  height: 255px;
}
.page-article .article-nav {
  position: relative;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #e3e3e3;
}
.page-article .article-nav .nav-text {
  position: relative;
  font-size: 16px;
  color: #989898;
}
.page-article .article-nav .nav-text::after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  right: -15px;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #989898;
  border-left: transparent;
  border-bottom: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.page-nav {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}
.page-nav .nav-item {
  position: relative;
  height: 44px;
  font-size: 15px;
  cursor: pointer;
}
.page-nav .nav-item:first-child {
  border-right: 1px solid #e3e3e3;
}
.page-nav .nav-item span {
  position: relative;
}
.page-nav .nav-item span::before {
  position: absolute;
  content: '';
  top: 0;
  width: 16px;
  left: -21px;
  height: 16px;
  background-size: contain;
}
.page-nav .nav-item span.hot-recommander {
  color: #333;
}
.page-nav .nav-item span.all-recommander {
  color: #878787;
}
.page-nav .nav-item span.hot-recommander::before {
  background-image: url("../images/home-page_hot-recommended_selected@2x.png");
}
.page-nav .nav-item span.all-recommander::before {
  background-image: url("../images/home-page_icon_whole_not-selected@2x.png");
}
.page-list-box {
  position: relative;
  overflow: hidden;
  padding: 0 5px;
}
.page-list-box .list-item {
  position: relative;
  float: left;
  width: 50%;
  padding: 10px 5px 5px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.page-list-box .list-item .item-img {
  position: relative;
  height: 170px;
}
.page-list-box .list-item .item-img .main-pic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.page-list-box .list-item .sale-info {
  height: 40px;
  font-size: 14px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.page-list-box .list-item .sale-info .price-detail {
  color: #ff5650;
}
.page-list-box .list-item .item-collect {
  position: absolute;
  top: 0;
  right: 8px;
  width: 20px;
  height: 19px;
  background-color: #bebebe;
}
.page-list-box .list-item .item-collect:before {
  position: absolute;
  content: '';
  top: 100%;
  height: 6px;
  left: 0;
  border-left: 10px solid #bebebe;
  border-right: 10px solid #bebebe;
  border-bottom: 6px solid transparent;
}
.page-list-box .list-item .item-collect:after {
  position: absolute;
  content: "";
  top: 7px;
  left: 4px;
  width: 12px;
  height: 12px;
  background: url("../images/home-page_icon_already-collect@2x.png") no-repeat;
  background-size: contain;
}
.page-side-nav {
  position: absolute;
  top: 48px;
  bottom: 0;
  right: 0;
  z-index: 9999;
  width: 175px;
  background: #fff;
  overflow-y: auto;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  transform: translateX(175px);
}
.page-side-nav .user-avatar {
  padding: 45px 45px 31px 45px;
}
.page-side-nav .user-avatar .avatar-box {
  height: 86px;
  border-radius: 100%;
  border: 3px solid #e3e3e3;
  margin-bottom: 10px;
  background: url("../images/home-demo.png");
  background-size: contain;
}
.page-side-nav .user-avatar .user-name {
  font-size: 15px;
  color: #666;
  text-align: center;
}
.page-side-nav .side-li .link {
  height: 50px;
  border-top: 1px solid #e3e3e3;
}
.page-side-nav .side-li .link [table] {
  padding-left: 48px;
}
.page-side-nav .side-li .link .link-text {
  font-size: 15px;
  color: #878787;
  position: relative;
}
.page-side-nav .side-li .link .link-text::before {
  position: absolute;
  content: "";
  top: -2px;
  left: -28px;
  width: 18px;
  height: 18px;
  background-size: contain;
}
.page-side-nav .side-li .link.pending-use .link-text::before {
  background-image: url("../images/side_icon_to-be-used@2x.png");
}
.page-side-nav .side-li .link.pending-payment .link-text::before {
  background-image: url("../images/side_icon_pending-payment@2x.png");
}
.page-side-nav .side-li .link.pending-comment .link-text::before {
  background-image: url("../images/side_icon_to-be-evaluated@2x.png");
}
.page-side-nav .side-li .link.my-collection .link-text::before {
  background-image: url("../images/side_icon_collection@2x.png");
}
.page-side-nav .side-li .link.connect-platform .link-text::before {
  background-image: url("../images/side_icon_contact@2x.png");
}
.page-side-nav .side-li .link.pending-refund .link-text::before {
  background-image: url("../images/side_icon_refund@2x.png");
}
.page-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 2;
}
.side-nav-show {
  transform: translate(0, 0);
}
