.page-container {
  background-color: #fafafa;
}
.order-container {
  position: absolute;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow-y: auto;
}
.shop-item {
  background-color: #fff;
  padding: 13px 15px 15px 10px;
  margin-bottom: 10px;
}
.shop-item .shop-detail .detail-des {
  margin-bottom: 12px;
}
.shop-item .shop-detail img {
  float: left;
  height: 90px;
  width: 90px;
  margin-right: 15px;
}
.shop-item .shop-detail .goods-name {
  position: relative;
  font-size: 17px;
  color: #333;
  margin-top: 4px;
  margin-bottom: 8px;
}
.shop-item .shop-detail .goods-name .shop-price {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 15px;
  color: #ff5650;
}
.shop-item .shop-detail .shop-name {
  position: relative;
  font-size: 17px;
  color: #333;
  margin-bottom: 11px;
}
.shop-item .shop-detail .shop-name .shop-distance {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 14px;
  color: #666;
}
.shop-item .shop-detail .shop-location {
  font-size: 15px;
  color: #878787;
  line-height: 20px;
}
.shop-item .run-time {
  font-size: 15px;
  color: #989898;
  margin-bottom: 10px;
}
.shop-item .shop-tel {
  font-size: 15px;
  color: #989898;
}
.shop-item .shop-tel span {
  color: #00c7c7;
}
.person-info {
  margin-bottom: 10px;
}
.person-info .info-li {
  border-bottom: 1px solid #e3e3e3;
}
.person-info .order-nums .order-num {
  display: inline-block;
  margin: 0 16px;
  color: #ff5650;
}
.person-info .order-nums .substract-btn,
.person-info .order-nums .add-btn {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #ccc;
}
.person-info .order-nums .substract-btn::before,
.person-info .order-nums .add-btn::before,
.person-info .order-nums .add-btn::after {
  position: absolute;
  content: '';
  top: 50%;
  border: 1px solid #e3e3e3;
  margin-top: -1px;
  left: 3px;
  right: 3px;
}
.person-info .order-nums .add-btn::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.person-info [table] {
  background-color: #fff;
  height: 50px;
}
.person-info [table] [table]:first-child {
  padding-left: 10px;
  color: #878787;
}
.person-info input {
  font-size: 15px;
}
.order-detail {
  background-color: #fff;
  margin-bottom: 10px;
}
.order-detail .order-header {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #666;
  padding-left: 10px;
}
.order-detail .offline-pay,
.order-detail .online-pay {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #e3e3e3;
  color: #adadad;
}
.order-detail .offline-pay [table]:first-child,
.order-detail .online-pay [table]:first-child {
  padding-left: 10px;
}
.order-detail .offline-pay .circle,
.order-detail .online-pay .circle {
  position: absolute;
  top: 13px;
  right: 25px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #adadad;
}
.order-detail .active {
  color: #333;
}
.order-detail .active .circle {
  border-color: #ff5650;
}
.order-detail .active .circle::before {
  position: absolute;
  content: '';
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 100%;
  background-color: #ff5650;
}
.order-btn {
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0;
  font-size: 19px;
}
.order-btn .total-price {
  background-color: #fff;
  color: #ff5650;
}
.order-btn .submit-btn {
  background: #ff5650;
  color: #fefefe;
}
