.page-list-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 10px;
  background-color: #f0f0f0;
}
.page-list-box .list-li {
  margin-bottom: 10px;
  background-color: #fff;
}
.page-list-box .list-li .li-header {
  height: 40px;
  border-bottom: 1px solid #e3e3e3;
}
.page-list-box .list-li .li-header .shop-name {
  padding-left: 15px;
  font-size: 14px;
  color: #666;
}
.page-list-box .list-li .li-header .order-detail {
  padding-right: 10px;
  font-size: 12px;
  color: #adadad;
}
.page-list-box .list-li .li-body {
  padding: 10px 10px 10px 15px;
}
.page-list-box .list-li .li-body .order-img {
  float: left;
  margin-right: 15px;
}
.page-list-box .list-li .li-body .order-detail .order-name {
  padding: 7px 0;
  font-size: 14px;
  color: #333;
}
.page-list-box .list-li .li-body .order-detail .order-time {
  font-size: 14px;
  color: #c0c0c0;
  margin-bottom: 33px;
}
.page-list-box .list-li .li-body .order-detail .order-num .price {
  font-size: 15px;
  color: #ff5650;
  vertical-align: baseline;
}
.page-list-box .list-li .li-body .order-detail .order-num .nums-title {
  margin-left: 20px;
  font-size: 13px;
  color: #878787;
}
.page-list-box .list-li .li-body .order-detail .order-num .num {
  font-size: 13px;
  color: #555;
}
.page-list-box .list-li .li-footer {
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  border-top: 1px solid #e3e3e3;
}
