.dialog-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
 /* background-color: #333;
  opacity: .3;*/
  .dialog-wrapper {
    position: absolute;
    top: 165px;
    left: 47.5px;
    right: 47.5px;
    border-radius: 10px;
    background-color: #333;
    .dialog-body {
      position: relative;
      .dialog-img-box {
        height: 80px;
        img {
          width: 45px;
          height: 45px;
        }
      }
      .dialog-tips {
        color: #fff;
        line-height: 24px;
        text-align: center;
        padding: 5px 0 10px 0;
      }
      .dialog-btns {

      }
    }
  }
}

.dialog-alert {
  height: 45px;
  padding: 0 30px;
}

.dialog-alert-btn {
  border-radius: 8px;
  background: #ff5650;
  color: #fff;
}

.dialog-confirm {

}

